$myFont:"Roboto", sans-serif;
$myFontSize: 16px;
$darkSlateGrey: hsl(234, 29%, 20%);
$Tomato: hsl(4, 100%, 67%);
$Tomato1: #FF5671;
$Tomato2: #FF673D;
$charcoalGrey: hsl(235, 18%, 26%);
$Grey: hsl(231, 7%, 60%);
$White: hsl(0, 0%, 100%);
$assetPath :"../assets/images";
:export {
     Grey: $Grey;
}
html {
     box-sizing: border-box;
     -webkit-text-size-adjust: 100%;
 }
*, *::before, *::after {
     box-sizing: inherit;
 }
 
 
* {
     margin: 0;
     padding: 0;
}
 /* prevent iOS font size change */
 
 
 body {
     overflow-y: scroll;
     font-size: $myFontSize;
     line-height: 1;
     text-rendering: optimizeSpeed;
     font-family: $myFont;
     overflow: auto;
     min-height: 100vh;
}


 
/* h1, h2, h3, h4 {
     font-weight: inherit;
} */
 
 
ul {
     list-style: none;
}
 
input, button {
     color: inherit;
     font-size: inherit;
     line-height: inherit;
     border-radius: 10px;
}
 
img {
     display: block;
}
 
a {
     cursor: pointer;
     text-decoration: inherit;
}

.signup-illustration-container {
     background: url(../assets/images/illustration-sign-up-mobile.svg);
     height: 284px;
     background-size: cover;
     img {
          width: 100%;
     }
}

section.updates-container {
     padding: 3em 1.5em;
     color: $charcoalGrey;
     h1 {
          font-size: 2.5em;
     }
     p {
          margin: 1.5em auto;
          line-height: 1.5;
          font-weight: 400;
     }
     ul li {
          display: flex;
          align-items: start;
          gap: 1.2em;
          p {
               margin: 0 0 1em;
          }
     }
}

form.signup {
     font-size: $myFontSize;
     margin-top: 1.5em;
     div {
          display: flex;
          justify-content: space-between;
     }
     label {
          color: $darkSlateGrey;
          font-weight: 600;
     }
     input {
          width: 100%;
          padding: 1em 1.5em;
          margin: 0.5em 0 1.5em;
          border: 1px solid $Grey;
     }
     input::placeholder {
          color: $Grey;
     }
     button {
          padding: 1.3em 0;
          width: 100%;
          text-align: center;
          border: none;
          background-color: $darkSlateGrey;
          color: $White;
          font-weight: 700;
          cursor: pointer;
     }
     /* FD5479 */
}
button:hover {
     background: linear-gradient(to right, $Tomato1, $Tomato2);
}

form.errorForm {
     div {
          span {
              color: #dd847f;
              font-weight: 700;
          }
     }
     input {
          border: 1px solid red;
          background-color: #FFE8E6;
          color: #DC9C9A;
          font-weight: 700;
     }
     input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
          -webkit-background-clip: text;
          box-shadow: 0 0 0 1000px #FFE8E6 inset;
       -webkit-text-fill-color: #DC9C9A;
          transition: background-color 5000s ease-in-out 0s;
     }
}

.attribution {
     font-size: 11px;
     text-align: center;
}
    

.attribution a {
     color: hsl(228, 45%, 44%);
} 

@media screen and (min-width: 376px) and (max-width: 700px){
     .signup-illustration-container {
          background-size: 100%;
     }
}
@media screen and (min-width: 701px) {
     .signup-illustration-container {
          background-size: 75%;
     }
}

.hidden {
     width: 0px;
     height: 0px;
     padding: 0;
     display: none;
     visibility: hidden;
}

dialog {
     border: none;
     color: $darkSlateGrey;
     padding: 3em 1.5em 0.3em;
     min-width: 100%;
     min-height: 100%;
     form {
          min-height: 100vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 2em;
          h1 {
          font-size: 2.5em;
          }
          p {
               line-height: 1.4;
          }
          button {
               padding: 1.3em 0;
               width: 100%;
               text-align: center;
               border: none;
               background-color: $darkSlateGrey;
               color: $White;
               font-weight: 700;
               cursor: pointer;
               margin-top: 30vh;
          }
     }
}


@media screen and (width > 900px) {
     body {
          min-height: 100vh;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2em; 
          background-color: $darkSlateGrey;
          /* overflow: auto; */
     }
     main {
         /*  position: absolute;
          top:50%;
          left: 50%;
          transform: translate(-50%, -50%); */
          margin: 30px auto;
          width: min(900px, 90%);
          border-radius: 30px;
          padding: 20px;
          background-color: $White;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row-reverse;
          max-height: 700px;
     }
     .signup-illustration-container {
          background: url(../assets/images/illustration-sign-up-desktop.svg);
          height: 593px;
          min-width: 400px;
        /*   border-radius: 1em; */
          background-size: 100% 100%;
     }
     section.updates-container{
          max-width: 60%;
          padding: 3em 3em 3em 2em;
          h1 {
               font-size: 3em;
          }
     }
}

@media screen and (width >= 768px) {


     dialog {
         /*  padding: 1.5em;
          position: absolute;
          top:50%;
          left: 50%;
          transform: translate(-50%, -50%); */
          background-color: $darkSlateGrey;
          overflow: auto;
          min-width: 100%;
          min-height: 100%;
          form {
               padding: 10px;
               margin: 30px auto;
               height: 400px;
               width: 400px; 
               background-color: $White;
               min-height: 0;
               justify-content: flex-start;
               border-radius: 15px;
               button {
                margin-top: 0;
               }
           }
     }
     

}
               