:export {
  Grey: hsl(231, 7%, 60%);
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/* prevent iOS font size change */
body {
  overflow-y: scroll;
  font-size: 16px;
  line-height: 1;
  text-rendering: optimizeSpeed;
  font-family: "Roboto", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100vh;
}

/* h1, h2, h3, h4 {
     font-weight: inherit;
} */
ul {
  list-style: none;
}

input, button {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 10px;
}

img {
  display: block;
}

a {
  cursor: pointer;
  text-decoration: inherit;
}

.signup-illustration-container {
  background: url(../assets/images/illustration-sign-up-mobile.svg);
  height: 284px;
  background-size: cover;
}
.signup-illustration-container img {
  width: 100%;
}

section.updates-container {
  padding: 3em 1.5em;
  color: hsl(235, 18%, 26%);
}
section.updates-container h1 {
  font-size: 2.5em;
}
section.updates-container p {
  margin: 1.5em auto;
  line-height: 1.5;
  font-weight: 400;
}
section.updates-container ul li {
  display: flex;
  align-items: start;
  gap: 1.2em;
}
section.updates-container ul li p {
  margin: 0 0 1em;
}

form.signup {
  font-size: 16px;
  margin-top: 1.5em;
  /* FD5479 */
}
form.signup div {
  display: flex;
  justify-content: space-between;
}
form.signup label {
  color: hsl(234, 29%, 20%);
  font-weight: 600;
}
form.signup input {
  width: 100%;
  padding: 1em 1.5em;
  margin: 0.5em 0 1.5em;
  border: 1px solid hsl(231, 7%, 60%);
}
form.signup input::-moz-placeholder {
  color: hsl(231, 7%, 60%);
}
form.signup input::placeholder {
  color: hsl(231, 7%, 60%);
}
form.signup button {
  padding: 1.3em 0;
  width: 100%;
  text-align: center;
  border: none;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(to right, #FF5671, #FF673D);
}

form.errorForm div span {
  color: #dd847f;
  font-weight: 700;
}
form.errorForm input {
  border: 1px solid red;
  background-color: #FFE8E6;
  color: #DC9C9A;
  font-weight: 700;
}
form.errorForm input:-webkit-autofill, form.errorForm input:-webkit-autofill:hover, form.errorForm input:-webkit-autofill:focus, form.errorForm input:-webkit-autofill:active {
  -webkit-background-clip: text;
  box-shadow: 0 0 0 1000px #FFE8E6 inset;
  -webkit-text-fill-color: #DC9C9A;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

button:hover {
  box-shadow: 5px 5px 22px hsl(4, 100%, 67%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 376px) and (max-width: 700px) {
  .signup-illustration-container {
    background-size: 100%;
  }
}
@media screen and (min-width: 701px) {
  .signup-illustration-container {
    background-size: 75%;
  }
}
.hidden {
  width: 0px;
  height: 0px;
  padding: 0;
  display: none;
  visibility: hidden;
}

dialog {
  border: none;
  color: hsl(234, 29%, 20%);
  padding: 3em 1.5em 0.3em;
  min-width: 100%;
  min-height: 100%;
}
dialog form {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}
dialog form h2 {
  font-size: 2.5em;
}
dialog form p {
  line-height: 1.4;
}
dialog form button {
  padding: 1.3em 0;
  width: 100%;
  text-align: center;
  border: none;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  cursor: pointer;
  margin-top: 30vh;
}

@media screen and (width > 900px) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    background-color: hsl(234, 29%, 20%);
    /* overflow: auto; */
  }
  main {
    /*  position: absolute;
     top:50%;
     left: 50%;
     transform: translate(-50%, -50%); */
    margin: 30px auto;
    width: min(900px, 90%);
    border-radius: 30px;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    max-height: 700px;
  }
  .signup-illustration-container {
    background: url(../assets/images/illustration-sign-up-desktop.svg);
    height: 593px;
    min-width: 400px;
    /*   border-radius: 1em; */
    background-size: 100% 100%;
  }
  section.updates-container {
    max-width: 60%;
    padding: 3em 3em 3em 2em;
  }
  section.updates-container h2 {
    font-size: 3em;
  }
}
@media screen and (width >= 768px) {
  dialog:not([open]) {
    display: none;
  }
  dialog {
    /*  padding: 1.5em;
     position: absolute;
     top:50%;
     left: 50%;
     transform: translate(-50%, -50%); */
    background-color: hsl(234, 29%, 20%);
    overflow: auto;
    min-width: 100%;
    min-height: 100%;
    display: grid;
    align-content: space-evenly;
    justify-content: center;
  }
  dialog form {
    /* float: left; */
    /*  margin: 10px auto; */
    padding: 2em 2.5em;
    min-height: 400px;
    width: 400px;
    background-color: hsl(0, 0%, 100%);
    justify-content: flex-start;
    border-radius: 15px;
    gap: 1.5em;
  }
  dialog form p {
    font-size: 0.9em;
  }
  dialog form button {
    margin-top: 0;
  }
}/*# sourceMappingURL=styles.css.map */