html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/* prevent iOS font size change */
body {
  min-height: 100vh;
  font-size: 16px;
  line-height: 1;
  text-rendering: optimizeSpeed;
  font-family: "Roboto", sans-serif;
}

/* h1, h2, h3, h4 {
     font-weight: inherit;
} */
ul {
  list-style: none;
}

input, button {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 10px;
}

img {
  display: block;
}

a {
  cursor: pointer;
  text-decoration: inherit;
}

.signup-illustration-container {
  background: url(../assets/images/illustration-sign-up-mobile.svg);
  height: 284px;
  background-size: cover;
}
.signup-illustration-container img {
  width: 100%;
}

section.updates-container {
  padding: 3em 1.5em;
  color: hsl(235, 18%, 26%);
}
section.updates-container h1 {
  font-size: 2.5em;
}
section.updates-container p {
  margin: 1.5em auto;
  line-height: 1.5;
  font-weight: 400;
}
section.updates-container ul li {
  display: flex;
  align-items: start;
  gap: 1.2em;
}
section.updates-container ul li p {
  margin: 0 0 1em;
}

form.signup {
  font-size: 16px;
  margin-top: 1.5em;
  /* FD5479 */
}
form.signup label {
  color: hsl(234, 29%, 20%);
  font-weight: 600;
}
form.signup input {
  width: 100%;
  padding: 1em 1.5em;
  margin: 0.5em 0 1.5em;
  border: 1px solid hsl(231, 7%, 60%);
}
form.signup input::-moz-placeholder {
  color: hsl(231, 7%, 60%);
}
form.signup input::placeholder {
  color: hsl(231, 7%, 60%);
}
form.signup button {
  padding: 1.3em 0;
  width: 100%;
  text-align: center;
  border: none;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(to right, #FF5671, #FF673D);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 376px) and (max-width: 700px) {
  .signup-illustration-container {
    background-size: 100%;
  }
}
@media screen and (min-width: 701px) {
  .signup-illustration-container {
    background-size: 75%;
  }
}
.signup-illustration-container, .updates-container, main, footer {
  display: none;
  visibility: hidden;
}

.successs-container {
  min-height: 100vh;
}
.successs-container dialog {
  height: inherit;
  border: none;
  color: hsl(234, 29%, 20%);
  margin: 3em 1.5em 1em;
}
.successs-container dialog form {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}
.successs-container dialog form h1 {
  font-size: 2.5em;
}
.successs-container dialog form p {
  line-height: 1.4;
}
.successs-container dialog form button {
  padding: 1.3em 0;
  width: 100%;
  text-align: center;
  border: none;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  cursor: pointer;
  margin-top: 30vh;
}

@media screen and (width > 900px) {
  body {
    padding-top: 10%;
    display: grid;
    place-items: center;
    gap: 10px;
    background-color: hsl(234, 29%, 20%);
  }
  main {
    width: min(950px, 90%);
    border-radius: 30px;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    max-height: 700px;
  }
  .signup-illustration-container {
    background: url(../assets/images/illustration-sign-up-desktop.svg);
    height: 593px;
    min-width: 400px;
    /*   border-radius: 1em; */
    background-size: 100% 100%;
  }
  section.updates-container {
    max-width: 60%;
    padding: 3em 4.5em 3em 2.5em;
  }
  section.updates-container h1 {
    font-size: 3.5em;
  }
}/*# sourceMappingURL=styles.css.map */